<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
        <script type="text/javascript" src="index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">
	</head>

	<body>
        <input id="date_info" type="date" style="font-size: 20px;font-weight:bold;">

        <br><br>

        客户：
        <select id="customers" style="font-size: 20px;font-weight:bold;">
            <option  value="小眉" selected="selected">小眉</option>
          </select>

          <br><br>

        <form id='products' action="" name= "products" method="">
            <table id="tb1" border="1" style="text-align: center;">
                <thead>
                    <th>_____品名_____</th>
                    <th>_____单价_____</th>
                    <th>_____规格_____</th>
                    <th>_____数量_____</th>
                </thead>
                <tbody>
                    <tr>
                        <td>吊带背心</td>
                        <td name="diaodaibeixin_p" value="4.5">4.5</td>
                        <td>均价</td>
                        <td><input type="text"   name="diaodaibeixin"  style="float:right"></td>
                    </tr>
                    <tr>
                        <td rowspan="8">小童套装</td>
                        <td name="xiaotong_90_p" value="">13</td>
                        <td>90cm</td>
                        <td><input type="text"   name="xiaotong_90" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_100_p" value="" >13</td>
                        <td>100cm</td>
                        <td><input type="text"   name="xiaotong_100" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_110_p" value="">14</td>
                        <td>110cm</td>
                        <td><input type="text"   name="xiaotong_110" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_120_p" value="">15</td>
                        <td>120cm</td>
                        <td><input type="text"   name="xiaotong_120" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_130_p" value="">16</td>
                        <td>130cm</td>
                        <td><input type="text"   name="xiaotong_130" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_140_p" value="">17</td>
                        <td>140cm</td>
                        <td><input type="text"   name="xiaotong_140" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_150_p" value="">18</td>
                        <td>150cm</td>
                        <td><input type="text"   name="xiaotong_150" ></td>
                    </tr>
                    <tr>
                        <td name="xiaotong_160_p" value="">21</td>
                        <td>160cm</td>
                        <td><input type="text"   name="xiaotong_160" text="0"></td>
                    </tr>
                    <tr>
                        <td>拉毛中领</td>
                        <td name="lamao_p">8</td>
                        <td>均价</td>
                        <td><input type="text"   name="lamao" text="0"></td>
                    </tr>
                    <tr>
                        <td rowspan="7">小童拉毛裤</td>
                        <td name="lamaotongku_90_p" value="">7</td>
                        <td>90cm</td>
                        <td><input type="text"   name="lamaotongku_90"></td>
                    </tr>
                    <tr>
                        <td name="lamaotongku_100_p">7</td>
                        <td>100cm</td>
                        <td><input type="text"   name="lamaotongku_100" ></td>
                    </tr>
                    <tr>
                        <td name="lamaotongku_110_p" value="">7</td>
                        <td>110cm</td>
                        <td><input type="text"   name="lamaotongku_110" ></td>
                    </tr>
                    <tr>
                        <td name="">7</td>
                        <td>120cm</td>
                        <td><input type="text"   name="lamaotongku_120" ></td>
                    </tr>
                    <tr>
                        <td name="">7.5</td>
                        <td>130cm</td>
                        <td><input type="text"   name="lamaotongku_130"></td>
                    </tr>
                    <tr>
                        <td name="lamaotongku_140_p" value="7.5">7.5</td>
                        <td>140cm</td>
                        <td><input type="text"   name="lamaotongku_140" ></td>
                    </tr>
                    <tr>
                        <td name="lamaotongku_150" value="7.5">7.5</td>
                        <td>150cm</td>
                        <td><input type="text"   name="lamaotongku_150"></td>
                    </tr>
                    <tr>
                        <td>宽肩背心</td>
                        <td name="diaodai_90_p" value="3.7">3.7</td>
                        <td>均价</td>
                        <td><input type="text"   name="diaodai_90" ></td>
                    </tr>
                    <tr>
                        <td>精梳棉</td>
                        <td name="diaodaibeixin_p" value="8.5">8.5</td>
                        <td>均价</td>
                        <td><input type="text"   name="jinshumian"  style="float:right"></td>
                    </tr>
                    <tr>
                        <td>三分裤</td>
                        <td name="diaodaibeixin_p" value="4.5">4.5</td>
                        <td>均价</td>
                        <td><input type="text"   name="sanfenku"  style="float:right"></td>
                    </tr>
                    <tr>
                        <td rowspan="2">九分裤（莫代尔）</td>
                        <td name="jiufenku_modaier_pingkou" value="">6</td>
                        <td>平口</td>
                        <td><input type="text"   name="xiaotong_90" ></td>
                    </tr>
                    <tr>
                        <td name="jiufenku_modaier_leisi" value="" >6.5</td>
                        <td>蕾丝</td>
                        <td><input type="text"   name="xiaotong_100" ></td>
                    </tr>
                </tbody>
            
            </table>
            <br><br>
            <input type="submit" value="计算" onclick="return CalculateSum();">__货款总额_ : <textarea name="sumPrice" readonly="readonly" style="font-size: 20px; color: red; height: 24px;">0</textarea>
            <br><br>
            <input type="submit" value="表格清空" onclick="return true;">
            <br><br>
            <button type="button" id="saveData" >保存结果</button>
        </form>
	</body>

    <script>
        $(document).ready(function () {
            var time = new Date();
            var day = ("0" + time.getDate()).slice(-2);
            var month = ("0" + (time.getMonth() + 1)).slice(-2);
            var today = time.getFullYear() + "-" + (month) + "-" + (day);
            $('#date_info').val(today);
        })

        var btn = document.getElementById("saveData");
        btn.addEventListener('click',function(){
            saveFile();
        },false)
    </script>
</html>