<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
        <script type="text/javascript" src="./index.js"></script>
	</head>

	<body>
        <form name='products'>
            <table border="1">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>品名</th>
                        <th>规范</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>1000000</td>
                        <td>1000000</td>
                        <td>1000000</td>
                        <td>1000000</td>
                        <td>1000000</td>
                    </tr>
                </tbody>
            </table>
        </form>
	</body>
</html>